<div class="container">
  <h1>Welcome to Kitly - your number 1 URL Shortener!</h1>

  <%= form_for :url do |f| %>
    <p>
      <%= f.label "Your URL:" %>
      <%= f.text_field :url %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

<!--
  <form action="/urls" method="post">
    Your URL: <input type ="text" name="long_url"></br>
    <input type="submit" value="Submit"></br>
  </form>
</div> -->


<table>
  <tr>
    <th>Long URL</th>
    <th>Kitly URL</th>
    <th>Count</th>
  </tr>
  <% @urls.each do |u| %>
    <tr>
      <td>
        <%= u.url %>
      </td>
      <td>
        <%= link_to "http://www.kitly/#{u.kitly}", redirecting_path(u)%>

      </td>
      <td style='text-align: right'>
        <%=u.count%>
      </td>
    </tr>
  <%end%>
</table>